.yellow{
    background-color: lightgoldenrodyellow;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.red{
    background-color: lightcoral;
}
.comandContainer{
    display: flex;
    justify-content:space-around;
}